# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build outputs
build/
dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# React Native
.expo/
.expo-shared/

# Coverage
coverage/

#Agents/ LLM
Agents.md
API_Contract.md
Database_Procedures_Requirements.md
Systemflow.md
sdcms-server.md
sdcms-server.xml
antigravity-output/